<form (submit)="sendList()">
  <mat-form-field>
      <input type="text" placeholder="Artist" matInput name="currentFilter" (input)="keyInput($event)" [(ngModel)]="currentFilter" [matAutocomplete]="auto">
  </mat-form-field>
  
  <mat-autocomplete #auto="matAutocomplete">
    <div *ngIf="!noresult">

      <mat-option (click)="setReference($event)" *ngFor="let option of filteredOptions" [value]="option.name">
        {{ option.name  }}
      </mat-option>
    </div>
  </mat-autocomplete>
  <mat-form-field class="example-full-width">
    <textarea matInput name="list" [(ngModel)]="list" placeholder="List"></textarea>
  </mat-form-field>
  <input type="submit">
</form>