/deep/ app-splash
     width: 100%
     height: 100%
.wihi__splash
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
.wihi__splash__content
    display: flex
    flex-direction: column
    align-items: center
    width: 90%
    max-width: 600px
    .wihi__splash__logo
        margin-top: -26vh
        .material-icons
            color: white
            font-size: 12em
            display: block
            text-shadow: 10px 6px 8px #965371
    .wihi__splash__title
        color: #fff    
    .wihi__splash__search
        width: 100%
        background-color: white
        .material-icons
            color: #ab6283
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: 20px