<form (submit)="newSong()">
  <input type="text" [(ngModel)]="newSongData.name" name="name">
  <mat-form-field>
    <input type="text" placeholder="Artist" matInput name="currentFilter" (input)="keyInput($event)" [(ngModel)]="currentFilter" [matAutocomplete]="auto">
  </mat-form-field>
  
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option (click)="setArtist()" *ngFor="let option of filteredOptions" [value]="option.name">
      {{ option.name  }}
    </mat-option>
  </mat-autocomplete>
</form>